*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}


.container{
    margin: 0 184px;
    display: block;
    padding-top: 75px;
}

.main{
    width: 980px;
    padding: 20px 0;
    min-height: 650px;
    background-color: #f0f2f5;
    display: block;
}

.body{
    background-color: #f0f2f5;
}

.left{
    width: 50%;
    float: left;
    padding-right: 32px;
    padding: 112px 0 16px 0;
}

.left img{
    height: 106px;
    margin: -28px;
}

.left h2{
    
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin-top: 18px;
}


.right{
    display: block;
    float: right;
    background-color: #fff;
    margin-top: 40px;
    padding:10px 0 24px 0 ;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    width: 396px;
    height: 350px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    
}

.right a{
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.right a:hover{
    text-decoration: underline;
}

.solid{
  
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;

}

.right input{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 14px 16px;
    font-size: 17px;
    width: 364px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin: 6px 0;
}

.right .btn{
    background-color: #1877f2;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 12px;
    width: 332px;
    box-sizing: content-box;
    margin-bottom: 16px;
    font-weight:bold;
}

.right .btn-2{
    background-color: #42b72a;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 8px;
    width: 156px;
    box-sizing: content-box;
    margin-bottom: 16px;
    font-weight:bold;
}

.right p {
    margin-top: 38px;
    border-top: none;
    color: #1c1e21;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
}

.right p a{
    text-decoration: none;
    color:black;
    font-weight:600;
}

.right p a:hover{
    text-decoration: underline;
}

.footer{
    background-color: #fff;
    width: 100%;
    padding: 0 184px;
    padding-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
}




.footer-1 ul {
    display: flex;
    list-style-type:none;
    padding-left: 7px;
}

.footer-1 ul li{
    color: #737373;
    font-size: 12px;
    padding-left: 10px;
    text-align: center;
}

.footer-1 ul li a {
    background-color: #f5f6f7;
    color: #4b4f56;
    border: 1px solid #ccd0d5;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    text-align: center;
}

.footer-1 ul li a i{
    font-size: 15px ;
    font-weight: bold;
    width: 12px;
    height: 12px;
    text-align: center;
}

.footer-1 ul li:hover{
    text-decoration: underline;
}

.footer-2{
    float: left;
    display: block;
    margin-bottom: 20px;
}

.footer-2 ul{
    list-style-type:none;
    padding-right: 20px;
    float: left;
}

.footer-2 ul li{
    display: inline-block;
    text-decoration: none;
    color: #737373;
    font-size: 12px;
    padding-left: 20px;
    text-align: center;
}

.footer-2 ul li:hover{
    text-decoration: underline;
}

.copyright{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.copyright .span {
    font-size:  11px;
    color: #737373;
}